<h1>Your Workout | <%= @workout.name %> </h1>
<% @workout.exercises.each do |exercise| %>
    <p>
        <a href="/exercises/<%= exercise.id %>">
            <%= exercise.name %>
        </a>
    </p>
<% end %>
<button type="button"> <a href="/workouts/<%= @workout.id %>/exercises/new">Create Exercise </a></button><br>
<button type="button"> <a href="/workouts/<%= @workout.id %>/edit"> Edit </a></button>
<form action="/workouts/<%= @workout.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<button type="button"> <input type="submit" value="Delete"></button>
</form>