<form action="/exercises/<%= @exercise.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="workout_id" value="<%= @exercise.workout.id %>">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="<%= @exercise.name %>"><br>
  <label for="reps">Reps:</label><br>
  <input type="number" id="reps" name="reps" value="<%= @exercise.reps %>"><br>
  <label for="sets">Sets:</label><br>
  <input type="number" id="sets" name="sets" value="<%= @exercise.sets %>"><br>
  <label for="minutes">Minutes:</label><br>
  <input type="number" id="minutes" name="minutes" value="<%= @exercise.minutes %>"><br>
  <input type="submit" value="Update">
</form>