<h1>Name <%= @exercise.name %> </h1>
<h1>Reps <%= @exercise.reps %> </h1>
<h1>Sets <%= @exercise.sets %> </h1>
<h1>Minutes <%= @exercise.minutes %> </h1>
<a href="/workouts/<%= @exercise.workout.id %>">Go to Workout</a>
<a href="/exercises/<%= @exercise.id %>/edit"> Edit </a>
<form action="/exercises/<%= @exercise.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
